* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3e3e3f;
    color: #fff;
}

/* Define a área total de scroll do vídeo (4x a altura da tela) */
.video-scroll-container {
    height: 400vh;
    position: relative;
}

.video-scroll-container video {
    position: sticky;
    top: 0;

    width: 100%;
    height: 100vh;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover;
}

.content-section {
    position: relative;
    z-index: 10; /* Garante que fique acima do container do vídeo se necessário */
    min-height: 90vh;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0b0d0f;
    text-align: center;
}

.content-section strong {
    color: var(--gold-main);
}

.content-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.convite {
    gap: 2rem;
    background: #0b0d0f; /* Alterar */
}

.doctor {
    flex-direction: row;
    gap: 4rem;
    background: #0b0d0f; /* Alterar */
}

.doctor img {
    width: 30%;
}

.membros {
    gap: 4rem;
    background: #0b0d0f; /* Alterar */
}

.membros ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.card-membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 16rem;
    background: transparent;
}

.card-membro img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    padding: 6px;
    background: var(--gold-gradient);
}

.card-membro .tag-label {
    color: #0b0d0f;
    background: var(--gold-gradient-2) padding-box,
    var(--gold-gradient) border-box;
    border-radius: 16px;
    border: 2px solid transparent;
    padding: 0.1rem 2rem;
}

.doctor-description {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    text-align: left;
}


.doctor-description p {
    text-align: justify;
}

.destaque-label {
    color: var(--gold-main);
}

#divider-bar {
    width: 100%;
    height: 2px;
    background: var(--gold-gradient-3);
}
